:root {
  --dark-bg-clr: #1f2937;

  --hero-main-text-clr: #f9faf8;
  --hero-main-text-wgt: extra-bold;
  --hero-main-text-sze: 48px;

  --hero-sec-text-clr: #e5e7eb;
  --hero-sec-text-sze: 18px;

  --header-logo-text-clr: #f9faf8;
  --header-logo-text-sze: 24px;

  --btn-cta-clr: #3882f6;

  --info-header-text-clr: #1f2937;
  --info-header-text-sze: 36px;
  --info-header-text-wgt: extra-bold;

  --quote-section-bg-clr: #e5e7eb;

  --quote-text-clr: #1f2937;
  --quote-text-sze: 36px;
  --quote-text-stl: italic;
  --quote-text-wgt: light;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
  min-height: 100vh;
}

.header,
.hero,
.info,
.quote,
.cta,
.footer {
  margin: 0 15%;
}

.content-1 {
  background-color: var(--dark-bg-clr);
  color: var(--hero-main-text-clr);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.content-2 {
  background-color: white;
}

.content-3 {
  background-color: var(--quote-section-bg-clr);
}
